.faq.tac.section
  .container 
    h2.title FAQ’s
    br
    h3.subtitle We aim to make managing your money as simple and accessible as possible. Find answers to common questions about mobile money accounts below. You can also check our 
      a(href="#") FAQs  
      | or 
      a(href="#") contact our friendly Support team.  
    
    .faq__wrap
      each faq in['What are the benefits of a digital money account?','What are the benefits of a digital money account?','Is a mobile money account safe?','Is a mobile money account safe?','How to get a mobile money account','How to get a mobile money account','What is Aizen?','What is Aizen?']   
        .faq__item
          svg.icon
            use(xlink:href='sprite.svg#angle-down-gray') 
          .faq__item-title=faq 
          .faq__item-drop 
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eaque provident aperiam doloribus nulla, soluta explicabo officia. Debitis veniam suscipit, rem harum modi magni mollitia provident vel est odio quaerat sapiente doloremque blanditiis quisquam non unde, quas quidem, quam perferendis ex ad quos? Soluta aut praesentium ipsa voluptas fuga illum!
          