footer.footer
  .footer__top
    .container-lg 
      p Бытует мнение, что оптимизированные тексты могут быть либо плохими, либо совсем плохими. Без вариантов. Это глупое поверье пришло к нам из прошлого, когда примеры SEO-текстов достойного качества встречались крайне редко. Сегодня все изменилось. У копирайтера с головой и руками всегда есть шансы создать небольшой шедевр. Текст, который будет не только нравиться поисковикам, но и читателям. Сегодня, с помощью материалов от агентства Text iS, я покажу вам другую сторону оптимизации. Светлую. Давайте познакомимся с образцами продающих и информационных SEO-текстов, которым по силам пробиваться в ТОП и одновременно – распахивать кошельки читателей. Когда я только собирался писать про сон на пчелах, конкуренция по ключевым запросам уже была немаленькая. В то, что запросы выйдут в ТОП, я верил, но драка предстояла не шуточная. Клиенты же и вовсе просили «написать просто хороший текст». В итоге – и оптимизация текста лендинга сыграла свою роль (сайт на первых местах), и сам материал вышел неплохим. И снова образец правильно оптимизированного текста на главную страницу. На этот раз мы имеем дело с сайтом, предлагающим одежду для верующих женщин. Если почитаете материал, то увидите, что ключей там достаточно. А поскольку семантическое ядро собрано верно и ключи вполне органичные, запросы не слишком режут глаз. Итог – SEO-текст во всех возможных ТОП и достаточно легко читается.

      .footer__nav
        each item in footerNav
          .footer__nav-col
            a(href="#").footer__nav-main-link=item.title
            ul
              each val in item.footerNavInside
                li 
                  a(href="#")=val.item
      
      .footer__control

        .footer__lang.lang
          span Русский
          svg.icon
            use(xlink:href='sprite.svg#angle-down-gray')
          ul 
            each lang in['Русский','English','Кыргыз тили','Türkçe','Deutsch']
              li 
                a(href="#")=lang 
                
        .footer__social.socials
          ul 
            each social in socials 
              li 
                a(href="#")
                  svg
                    use(xlink:href='sprite.svg#'+social.img)

  .footer__bottom 
    p © 2023 AIZEN LLC.Компания AIZEN LLC, зарегистрированный в Кыргызской Республике. Юридический адрес: ул. Кызыл-кийская 186, 720072, г. Бишкек, Кыргызстан (рег. №: 190058-3301-ООО). <br>
      | AIZEN LLC в процессе получения лицензии платежной системы и оператора платежных систем НБКР. AIZEN LLC предоставляет услуги по осуществлению платежей и открытию цифровых кошельков до востребования.






















