.integration.tac.section
  .container-lg 
    h2.title.tac Простая интеграция с другими сервисами
    h3.subtitle.subtitle--light.tac Aizen Логистика работает со всеми основными сервисами <br>
      | для автоматической загрузки заказов из интернет-магазинов
    
    .tab
      ul.tabs
        li
          a(href='#') С помощью Aizen
        li
          a(href='#') Напрямую с <br> курьерскими службами
      .tab_content
        
        .tabs_item
          p Вы работаете с нами по принципу по принципу одного окна!
          .integration__banner
            svg
              use(xlink:href='sprite.svg#integration-banner1')
          p Один договор c Aizen. Вся логистика на нас - сами заберем и отвезем посылки, <br>
            | прием платежи, организуем возврат товаров.
        
        .tabs_item
          p На каждую курьерскую службу свой договор.
          .integration__banner
            svg
              use(xlink:href='sprite.svg#integration-banner1')
          p Сложная и запутанная схема, затрудняющая работу отдела логистики, <br>
            | увеличение сроков и делающая неудобными возвраты товаров.

  include ../includes/partners          