.main-slider
  .container-lg 
    .main-slider__wrap
      .main-slider__slider
        .main-slider__slider-col
          #slider

            .main-slider__item
              .main-slider__slider-txt 
                h2.title Авиадоставка посылок из ЕС, США и Турции
                p Aizen logistic  – сервис по доставке из зарубежных интернет-магазинов.
                a.btn(href="#") Подробнее 
              
              .main-slider__slider-img 
                img(src="images/dist/slider2.webp", alt="") 
          
            .main-slider__item
              .main-slider__slider-txt 
                h2.title Aizen B2B 
                p Международные поставки коммерческих грузов и документов
                a.btn(href="#") Подробнее 
              
              .main-slider__slider-img 
                img(src="images/dist/slider1.webp", alt="") 
            
            .main-slider__item
              .main-slider__slider-txt 
                h2.title Авиадоставка посылок из ЕС, США и Турции
                p Aizen logistic  – сервис по доставке из зарубежных интернет-магазинов.
                a.btn(href="#") Подробнее 
              
              .main-slider__slider-img 
                img(src="images/dist/slider3.webp", alt="") 

        .main-slider__slider-col
          .main-slider__item
            .tracking-form
              div
                h2.title Отследить посылку
                p Введите трек-номер отправления для отслеживания
              .tracking-form__form
                form(action="")
                  .tracking-form__form-wrap
                    .tracking-form__form-input 
                      input(type="text" placeholder="Номер отправления")
                    button(type="submit")
                      svg.icon
                        use(xlink:href='sprite.svg#angle-left-white')


