.partners
  .container-lg 
    .partners__slider
      .partners__slider-elem
        
        svg(width='1150' height='142' viewBox='0 0 1150 142' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M379.25 0.499512L46.5494 141.341C46.3027 141.446 46.0376 141.5 45.7697 141.5H2.12298C-0.115662 141.5 -0.663668 138.383 1.44066 137.62L379.25 0.499512Z' fill='url(#paint0_linear_28_3)')
          path(d='M398.554 16.38C400.63 15.0226 402.832 17.9111 400.972 19.5532L264.293 140.249C263.928 140.571 263.457 140.75 262.969 140.75H215.015C213.027 140.75 212.257 138.163 213.921 137.075L398.554 16.38Z' fill='url(#paint1_linear_28_3)')
          path(d='M483.281 10.9029C484.496 8.99657 487.445 10.2522 486.912 12.4487L456.047 139.721C455.83 140.618 455.027 141.25 454.104 141.25H403.896C402.318 141.25 401.361 139.506 402.209 138.175L483.281 10.9029Z' fill='url(#paint2_linear_28_3)')
          path(d='M573.038 6.99195C573.465 4.84489 576.535 4.84489 576.962 6.99195L602.238 134.228C602.484 135.465 601.537 136.617 600.276 136.617H549.724C548.463 136.617 547.516 135.465 547.762 134.228L573.038 6.99195Z' fill='url(#paint3_linear_28_3)')
          path(d='M666.719 10.9029C665.504 8.99657 662.555 10.2522 663.088 12.4487L693.953 139.721C694.17 140.618 694.973 141.25 695.896 141.25H746.104C747.682 141.25 748.639 139.506 747.791 138.175L666.719 10.9029Z' fill='url(#paint4_linear_28_3)')
          path(d='M751.446 16.38C749.37 15.0226 747.168 17.9111 749.028 19.5532L885.707 140.249C886.072 140.571 886.543 140.75 887.031 140.75H934.985C936.973 140.75 937.743 138.163 936.079 137.075L751.446 16.38Z' fill='url(#paint5_linear_28_3)')
          path(d='M770.75 0.499512L1103.45 141.341C1103.7 141.446 1103.96 141.5 1104.23 141.5H1147.88C1150.12 141.5 1150.66 138.383 1148.56 137.62L770.75 0.499512Z' fill='url(#paint6_linear_28_3)')
          defs
            lineargradient#paint0_linear_28_3(x1='184.349' y1='127.5' x2='663.072' y2='-422.261' gradientUnits='userSpaceOnUse')
              stop(stop-color='#D9D9D9')
              stop(offset='1' stop-color='#D9D9D9' stop-opacity='0')
            lineargradient#paint1_linear_28_3(x1='200.547' y1='141.752' x2='282.616' y2='-205.252' gradientUnits='userSpaceOnUse')
              stop(stop-color='#D9D9D9')
              stop(offset='1' stop-color='#D9D9D9' stop-opacity='0')
            lineargradient#paint2_linear_28_3(x1='1153.1' y1='0.750402' x2='1149.21' y2='155.892' gradientUnits='userSpaceOnUse')
              stop(stop-color='#D9D9D9' stop-opacity='0')
              stop(offset='1' stop-color='#D9D9D9')
            lineargradient#paint3_linear_28_3(x1='575' y1='0.499512' x2='575' y2='141.5' gradientUnits='userSpaceOnUse')
              stop(stop-color='#D9D9D9' stop-opacity='0')
              stop(offset='1' stop-color='#D9D9D9')
            lineargradient#paint4_linear_28_3(x1='1153.1' y1='0.750402' x2='1149.21' y2='155.892' gradientUnits='userSpaceOnUse')
              stop(stop-color='#D9D9D9' stop-opacity='0')
              stop(offset='1' stop-color='#D9D9D9')
            lineargradient#paint5_linear_28_3(x1='1151.5' y1='0.246814' x2='1026.4' y2='436.51' gradientUnits='userSpaceOnUse')
              stop(stop-color='#D9D9D9' stop-opacity='0')
              stop(offset='1' stop-color='#D9D9D9')
            lineargradient#paint6_linear_28_3(x1='771' y1='0.999528' x2='1159' y2='142' gradientUnits='userSpaceOnUse')
              stop(stop-color='#D9D9D9' stop-opacity='0')
              stop(offset='1' stop-color='#D9D9D9')
                  path(d='M379.25 0.499512L46.5494 141.341C46.3027 141.446 46.0376 141.5 45.7697 141.5H2.12298C-0.115662 141.5 -0.663668 138.383 1.44066 137.62L379.25 0.499512Z' fill='url(#paint0_linear_24_1908)')
                  path(d='M398.554 16.38C400.63 15.0226 402.832 17.9111 400.972 19.5532L264.293 140.249C263.928 140.571 263.457 140.75 262.969 140.75H215.015C213.027 140.75 212.257 138.163 213.921 137.075L398.554 16.38Z' fill='url(#paint1_linear_24_1908)')
                  path(d='M483.281 10.9029C484.496 8.99657 487.445 10.2522 486.912 12.4487L456.047 139.721C455.83 140.618 455.027 141.25 454.104 141.25H403.896C402.318 141.25 401.361 139.506 402.209 138.175L483.281 10.9029Z' fill='url(#paint2_linear_24_1908)')
                  path(d='M573.038 6.99195C573.465 4.84489 576.535 4.84489 576.962 6.99195L602.238 134.228C602.484 135.465 601.537 136.617 600.276 136.617H549.724C548.463 136.617 547.516 135.465 547.762 134.228L573.038 6.99195Z' fill='url(#paint3_linear_24_1908)')
                  path(d='M666.719 10.9029C665.504 8.99657 662.555 10.2522 663.088 12.4487L693.953 139.721C694.17 140.618 694.973 141.25 695.896 141.25H746.104C747.682 141.25 748.639 139.506 747.791 138.175L666.719 10.9029Z' fill='url(#paint4_linear_24_1908)')
                  path(d='M751.446 16.38C749.37 15.0226 747.168 17.9111 749.028 19.5532L885.707 140.249C886.072 140.571 886.543 140.75 887.031 140.75H934.985C936.973 140.75 937.743 138.163 936.079 137.075L751.446 16.38Z' fill='url(#paint5_linear_24_1908)')
                  path(d='M770.75 0.499512L1103.45 141.341C1103.7 141.446 1103.96 141.5 1104.23 141.5H1147.88C1150.12 141.5 1150.66 138.383 1148.56 137.62L770.75 0.499512Z' fill='url(#paint6_linear_24_1908)')
                  defs
                    lineargradient#paint0_linear_24_1908(x1='184.349' y1='127.5' x2='663.072' y2='-422.261' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#D9D9D9')
                      stop(offset='1' stop-color='#D9D9D9' stop-opacity='0')
                    lineargradient#paint1_linear_24_1908(x1='200.547' y1='141.752' x2='282.616' y2='-205.252' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#D9D9D9')
                      stop(offset='1' stop-color='#D9D9D9' stop-opacity='0')
                    lineargradient#paint2_linear_24_1908(x1='1153.1' y1='0.750402' x2='1149.21' y2='155.892' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#D9D9D9' stop-opacity='0')
                      stop(offset='1' stop-color='#D9D9D9')
                    lineargradient#paint3_linear_24_1908(x1='575' y1='0.499512' x2='575' y2='141.5' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#D9D9D9' stop-opacity='0')
                      stop(offset='1' stop-color='#D9D9D9')
                    lineargradient#paint4_linear_24_1908(x1='1153.1' y1='0.750402' x2='1149.21' y2='155.892' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#D9D9D9' stop-opacity='0')
                      stop(offset='1' stop-color='#D9D9D9')
                    lineargradient#paint5_linear_24_1908(x1='1151.5' y1='0.246814' x2='1026.4' y2='436.51' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#D9D9D9' stop-opacity='0')
                      stop(offset='1' stop-color='#D9D9D9')
                    lineargradient#paint6_linear_24_1908(x1='771' y1='0.999528' x2='1159' y2='142' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#D9D9D9' stop-opacity='0')
                      stop(offset='1' stop-color='#D9D9D9')
        
      .partners__slider-wrap
        .swiper.partners-js
          .swiper-wrapper

            each partner in[1,2,3,4,5,6]
              .swiper-slide
                svg
                  use(xlink:href='sprite.svg#partner'+partner)

            .swiper-slide
              svg
                use(xlink:href='sprite.svg#partner3')
                