extends layouts/main
block title
  | main
block main
  .wrapper
    .content
      
      include includes/header
      include includes/main-slider
      include includes/calculator
      include includes/integration
      include includes/steps
      include includes/packaging
      include includes/advantages

      
         
      

    include includes/footer


  include includes/scripts 












